extends layout
block variables
  - var name = "single"
  - var title = "关于"
block content
  .single
    h3 关于茴香
    p 「茴香」是属于你的句子收藏本。
    p 要是遇见喜爱的台词、歌词、书摘，或是和好友下午茶时蹦出的一句让人怒拍大腿的金句，你都可以把他们记录在这里。
    h3 与我联系
    p
      | 个人项目精力有限，难免有些不足之处，如果你愿意向我报告错误或者交流想法那是再好不过了，
      a(target='_blank', href='mailto:supersheepxjy@gmail.com') 写邮件
      | 或者
      a(href='http://weibo.com/spudhsu', target='_blank') 微博
      | 上找我都ok :)
    p
      | 最后，非常感谢我的同事
      a(href='http://weibo.com/u/2134062323', target='_blank') @ltebean
      | 与素不相识的v2ex网友
      a(href='http://weibo.com/mervinlee', target='_blank') @marvinlix
      | 为茴香制作了移动app，多谢！
