extends layout
block variables
  - var name = "app";
  - var title = "移动app";
block content
  .ios.app
    .single
      .intro
        .title 「茴香」移动app
        ul.feature
          li - 「记录」所思所想，随时随地
          li - 「回味」过去点滴
          li - 「发现」他人留下的思绪
        a.market.app-store(href='https://itunes.apple.com/cn/app/huixiang/id669860898', target='_blank') App Store
        a.market.google-play(href='https://play.google.com/store/apps/details?id=com.pybeta.huixiang', target='_blank') Google Play
      .phone.iphone
        .shell
      .phone.galaxy
        .shell
  .ft