doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title=title
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    link(rel='stylesheet', href='/css/base.css')
    style.
      html{
        height: 100%;
        width: 100%;
        display: table;
      }
      body{
        display: table-row;
      }
      p{
        display: table-cell;
        vertical-align: middle;
        text-align: center;
      }
  body
    if !err
      p 登录成功
      if id
        script.
            window.opener.location.href = "/people/$id";
      else
        script.
          window.opener.location.reload();
          window.close();
    else
      p 登录失败
