extends layout
block variables
  - var name = "login"
  - var title = "登录" + config.sitename + "-" + config.slogan
block content
  .login-panel
      h1 请登录
      .row
        a.login_douban(href='#')
          img(src='http://img3.douban.com/pics/douban-icons/favicon_48x48.png', title='豆瓣登录')
        a.login_weibo(href='#')
          img(src='http://www.sinaimg.cn/blog/developer/wiki/LOGO_48x48.png', title='微博登录')