extends layout
block variables
  - var name = "new";
  - var title = "记一句";
block content
  form.new-form(method='post')
    .box-text
      textarea.textarea(name='content', placeholder='记一句...')
      input#pics(type='hidden', name='pics')
      .pic-row
      .form-row
        input#link.input(type='text', name='link', placeholder='http://')
      ul.funcs
        li.icon-image
      #uploader-holder
    .box-bottom
      .hint(style='display:none;')
      input.btn(type='submit', value='好了')
      .private-setting
        input#private.private-chk(type='checkbox', name='private')
        label.private-label(for='private') 私藏
      .share
        span.lbl 分享：
        label.sharebtn.toweibo(for='weibochk')
        input#weibochk(type='checkbox', value='weibo', name='share')
        label.sharebtn.todouban(for='doubanchk')
        input#doubanchk(type='checkbox', value='douban', name='share')
